.todo_create {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo_create_form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: black;
    padding: 1rem;
}
.todo_create_form_title {
    padding: 0.5rem;
}
.todo_create_form_description {
    max-height: 10rem;
    max-width: 32rem;
    padding: 0.5rem;
    height: 40vh;
    width: 80vw;
}
.todo_create_actions {
    margin-left: auto;
}
.todo_create_actions_item {
    margin: 0 0.5rem;
}