.todo {
    display: grid;
    grid-template-areas: "status details actions"
                            ". description description"
                            "expand expand expand";
    grid-template-columns: minmax(min-content, 4rem) 1fr 10rem;
    grid-template-rows: 5rem 0fr 3rem;
    gap: 0.5rem;
    margin: 0.5rem 0;
}
.todo__description {
    grid-template-rows: 5rem 1fr 3rem;
}
.todo_done {
    grid-area: status;
    font-size: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
}
.todo_details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}
.todo_details_title {
    font-weight: bold;
    overflow: hidden;
    overflow-wrap: break-word;
}
.todo_details_date {
    font-size: 0.9rem;
}
.todo_actions {
    grid-area: actions;
    margin-top: auto;
    margin-bottom: auto;
}
.todo_description {
    grid-area: description;
    display: none;
    overflow: hidden;
    overflow-wrap: break-word;
}
.todo_description__visible {
    display: block;
}
.todo_expand {
    grid-area: expand;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width: 625px) {
    .todo {
        grid-template-areas: "status details"
                                ". actions"
                                ". description"
                                "expand expand";
        grid-template-columns: min-content 1fr;
        grid-template-rows: 5rem 4rem 0fr 2rem;
    }
    .todo__description {
        grid-template-rows: 5rem 4rem 1fr 2rem;
    }
    .todo_actions {
        margin-left: auto;
    }
}