.todo_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
}
.todo_edit_form {
    background-color: black;
    padding: 1rem;
}
.todo_edit_form_heading {
    justify-self: center;
}
.todo_edit_details {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.todo_edit_details_status {
    margin-bottom: 1rem;
}
.todo_edit_details_title {
    margin-bottom: 1rem;
}
.todo_edit_details_description {
    max-height: 10rem;
    max-width: 32rem;
    height: 40vh;
    width: 80vw;
}
.todo_edit_actions {
    padding: 0.5rem;
    text-align: right;
}
.todo_edit_actions_item {
    margin: 0 .5rem;
}