.main {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    position: relative;
    width: 800px;
}
.main_heading {
    font-size: 3.5rem;
}
.main_bulk_actions {
    margin-left: auto;
}
.main_todos_delete {
    font-size: 2.5rem;
}
.main_separator {
    opacity: 0.3;
}
.main_create {
    font-size: 2.5rem;
    margin-right: 4rem;
    position: absolute;
    right: 0;
    bottom: 0;
}