.main {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    width: 800px;
}
.main_heading {
    font-size: 3.5rem;
}
.main_bulk_actions {
    margin-left: auto;
}
.main_todos_delete {
    font-size: 2.5rem;
}
.main_separator {
    opacity: 0.3;
}
.main_add {
    position: fixed;
    right: 25vw;
    bottom: 5vh;
}